body {
  background-image: linear-gradient(
      115deg,
      rgba(230, 188, 72, 0.8),
      rgba(113, 119, 233, 0.4)
    ),
    url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_960_720.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.clima-temp{
  color:rgba(113, 119, 233);
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.clima-minmax{
  display: flex;
  justify-content: space-between;
}

.clima-info-detalle{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}