body {
  background-image: linear-gradient(
      115deg,
      rgba(224, 205, 152, 0.733),
      rgba(136, 163, 240, 0.795)
    ),
    url(https://cdn.pixabay.com/photo/2018/05/30/15/39/thunderstorm-3441687_960_720.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Form buscar clima*/
.form-buscar{
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
}


/* Resultado clima */
.clima-temp{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color:rgb(54, 59, 156);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.clima-minmax{
  display: flex;
  justify-content: space-between;
}

.clima-info-detalle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.clima-info-descripcion{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1rem;
}


/*Clima mundo*/
.card{
  background-color: rgb(255, 209, 167) !important;
}

